.fa{
  line-height: 2em;
  display: inline-block;
}

.viz-box .box-footer {
  padding: 0px;
}

.world-stats-info .list-group-item{
  padding: 2px 4px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}
